<header>
  <h1>luminUS</h1>
</header>

<main>
  <h2>Your devices:</h2>
  <div id="device-container">
    <div *ngFor="let device of devices | keyvalue" class="device" [class.disabled]="device.value.type !== BULB_TYPE">
      {{device.value.alias}}
      <br />
      {{device.value.type}}
      <br />
      <ng-container *ngIf="device.value.connected">
        Connected
      </ng-container>

      <ng-container *ngIf="!device.value.connected">
        Not connected
      </ng-container>

      <br />
      <button *ngIf="!device.value.connected && device.value.type === BULB_TYPE" (click)="connect(device.key)">
        Connect
      </button>

      <!--TODO make only one of these render at a time-->
      <button *ngIf="device.value.connected" (click)="on(device.key)">
        On
      </button>

      <button *ngIf="device.value.connected" (click)="off(device.key)">
        Off
      </button>
    </div>
  </div>

</main>


<router-outlet></router-outlet>